{% extends '::admin.html.twig' %}

{% block body %}


    {% if message is defined %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ message }}.
        </div>
        {{ entity.date | date("yyyy/MM/dd") }}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" action="{{ path('orders_new') }}">

        <div class="row">
            <div class="col-sm-8">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h4> Order Informations </h4>
                    </div>
                    <div class="widget-body">
                        <table  cellpadding="10px" class="table-hover">
                            <tr>
                                <td colspan="2" rowspan="2">{{ form_label(form.nbcf, 'Nbcf') }}</td>
                                <td rowspan="2">{{ form_widget(form.nbcf, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td>{{ form_label(form.date, 'Date') }}</td>
                                <td><input type="date" name="date" class="form-control"
                                           value="{% if entity.date is defined %}{{ entity.date | date("yyyy/MM/dd") }}{% endif %}">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.datePrevu, 'Date prevu') }}</td>
                                <td><input type="date" name="datePrevu" class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(form.dci, 'Dci') }}</td>
                                <td>{{ form_widget(form.dci, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td>{{ form_label(form.provider, 'Provider') }}</td>
                                <td>{{ form_widget(form.provider, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.dci, 'Quantity') }}</td>
                                <td colspan="2">{{ form_widget(form.quantity, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td rowspan="2">TOTAL</td>
                                <td rowspan="2"></td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.dci, 'Price') }}</td>
                                <td colspan="2">{{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ form_label(form.laboratory, 'Laboratory') }}</td>
                                <td colspan="2">{{ form_widget(form.laboratory, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(form.shipping, 'Shipping') }}</td>
                                <td>{{ form_widget(form.shipping, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td>{{ form_label(form.shippingBy, 'By') }}</td>
                                <td>{{ form_widget(form.shippingBy, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(form.payment, 'Payment') }}</td>
                                <td>{{ form_widget(form.payment, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td>{{ form_label(form.paymentAt, 'At') }}</td>
                                <td>{{ form_widget(form.paymentAt, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ form_label(form.importer, 'Importer') }}</td>
                                <td colspan="2">{{ form_widget(form.importer, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ form_label(form.bank, 'Bank') }}</td>
                                <td colspan="2">{{ form_widget(form.bank, { 'attr': {'class': 'form-control'} }) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ form_label(form.dateProforma, 'Date Proforma') }}</td>
                                <td colspan="2"><input type="date" name="dateProforma" class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ form_label(form.pathFile, 'Order PDF') }}</td>
                                <td colspan="2"><input type="file" name="img" class="form-control"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h4> Pruchase Order Informations </h4>
                    </div>
                    <div class="widget-body">
                        <table cellspacing="5px" cellpadding="5px" class="table-bordered table-hover">
                            <tr>
                                <td>{{ form_label(form.purchase.vars.prototype.lcn, 'LC Number') }}</td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.lcn, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.date, 'date Purchase') }}
                                </td>
                                <td>
                                   {# {{ form_widget(form.purchase.vars.prototype.date, {'attr' : {'class' : 'form-control'} } ) }} #}
                                    <input type="date" name="datelc" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.dateExpLc, 'date Expiry') }}
                                </td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.dateExpLc, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.dateUltime, 'date Ultime') }}
                                </td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.dateUltime, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.shipment, 'Shippement') }}</td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.shipment, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.ref, 'Ref') }}</td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.ref, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.bankLc, 'Bank Lc') }}</td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.bankLc, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.purchase.vars.prototype.pathFile, 'Path File') }}</td>
                                <td>
                                    {{ form_widget(form.purchase.vars.prototype.pathFile, {'attr' : {'class' : 'form-control'} } ) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group" role="group" aria-label="..." align="center">
                    <button type="button" id="form_coaDetails_btn" class="btn btn-outline btn-primary">New Test</button>
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-outline btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </form>




{% endblock %}